.about_container{
    height: 100%;
    background-color: var(--main-color--light);
    margin:0;
    padding: 250px 0 150px 0;
    
}

/* Masque de texture en haut du container */
.about_up{
    position: absolute;
    top: -460px;
}

.about_title{
    margin:0;
}

.about_flex{
    display:flex;   
}

.about_img{
    object-fit: cover;
    height: 600px;
    position: absolute;
    top:1100px;
    right: 100px;
}

.about_text{
    padding: 100px 0;
    width: 70%;
}

/* Tablettes et mobiles */
@media (max-width: 1700px){
    .about_text{
        padding: 100px 0;
        width: 90%;
    }

    .about_img{
        position:inherit;
        height: 600px;
        margin: 0 auto;
    
    }
}

@media (max-width: 1250px){
    .about_container{ 
    
        margin:0 auto;
        padding: 150px 0;
    }
    .about_text{
        padding: 100px 0;
        width: 100%;
    }

    .about_img{
        position:inherit;
        height: 400px;
        margin: 0 auto;
    
    }
}


@media (max-width: 900px){


    .about_flex{
    
        flex-direction: column;
        
    }

    .about_text{
        padding: 100px 0;
        width: 100%;
    }

    .about_img{
        position:inherit;
        height: 400px;
        margin: 0 auto;
    
    }

}